

V1/
V2/
aux_files/
LoKI_v3/
Simulator_Old/
LoKI_v3.1/
LoKI_Old/
notes/
old_code/


study_opt_grad_based/attempts_new
study_opt_hierarchical/attempts_new
study_opt_model_free/attempts_new
tests/
Buffer_Data/test_data
reactions/aux_schemes
figures/figures_old
figures/results

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Virtual environments
.venv/
venv/
ENV/
env/
pip-wheel-metadata/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# pyenv
.python-version

# Installer logs
pip-log.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# pytest
.pytest_cache/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# PyCharm
.idea/

# VS Code
.vscode/

# MacOS
.DS_Store

# dotenv
.env
.env.*

# Spyder
.spyderproject
.spyproject

# # Local notebooks
# *.ipynb

# Logs
*.log

# Temporary files
*.tmp
*.swp
*~

# Editable install
*.egg-link

# Profiling data
.prof

# SQLite database files
*.sqlite3


