
Buffer_Data/test_data
Buffer_Data/other

# Experimental_Data/CO
# Experimental_Data/PaperMetasables
# Experimental_Data/TD

Experimental_Data/other

figures/
figures_new/

LoKI_v3/
LoKI_v3.1/
LoKI_Old/

old_code/

parameters/

reactions/aux_schemes

study_opt_hierarchical/old

study_opt_local/others
study_opt_local/outcmaes

study_opt_model/others

study_validation_model/results

tests/
utils/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Virtual environments
.venv/
venv/
ENV/
env/
pip-wheel-metadata/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# pyenv
.python-version

# Installer logs
pip-log.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# pytest
.pytest_cache/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# PyCharm
.idea/

# VS Code
.vscode/

# MacOS
.DS_Store

# dotenv
.env
.env.*

# Spyder
.spyderproject
.spyproject

# # Local notebooks
# *.ipynb

# Logs
*.log

# Temporary files
*.tmp
*.swp
*~

# Editable install
*.egg-link

# Profiling data
.prof

# SQLite database files
*.sqlite3


